		table, th, td{
			border: 1px solid #e5e5e5;
			font-family: arial;
			font-size:14px;
			color: #333333;
		}
		th, td {
			valign: top;
			text-align: center;
			padding-right:5px;
			padding-left:5px
		}
		th {
			background-color:#aed7ff
		}
		td {
			background-color: #fff
		}
		caption {
			border: 1px solid #e5e5e5;
			border-collapse: collapse;
			font-family: arial;
			font-weight: bold;
			font-size:80%%;
			text-align: left;
			color: #333333;
		}	